@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h1>Login</h1>

<form method="post" asp-controller="Account" asp-action="Login" class="row g-3">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="col-12">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username"></span>
    </div>

    <div class="col-12">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="col-12">
        <input asp-for="RememberMe" value="true" type="checkbox" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

    <div class="col-12">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>

</form>